flows.json
[
    {
        "id": "6c2f1c52156d2c65",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c891787f9f1a44c",
        "type": "mqtt in",
        "z": "6c2f1c52156d2c65",
        "name": "Gas Sensors",
        "topic": "/group13x/Gas01",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7dd5e1006bb1df9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "c9338c0310b0ea1f"
            ]
        ]
    },
    {
        "id": "57a69e9137388c54",
        "type": "mqtt in",
        "z": "6c2f1c52156d2c65",
        "name": "Smoke Sensors",
        "topic": "/group13x/Smoke01",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7dd5e1006bb1df9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "7193f95b99b1e741"
            ]
        ]
    },
    {
        "id": "7f847524de3f41cf",
        "type": "mqtt in",
        "z": "6c2f1c52156d2c65",
        "name": "Security System Status",
        "topic": "/group13x/Security01",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7dd5e1006bb1df9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "37c8453009b30c03"
            ]
        ]
    },
    {
        "id": "101a607753e1b805",
        "type": "ui_gauge",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "e6594c57d8d01b10",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "30",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "3dc3632e6c9ec74f",
        "type": "ui_gauge",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "8bf5ecd135e186ce",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "30",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "9bb051d76e296419",
        "type": "ui_gauge",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "fdb13ed9e32bfcfa",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "30",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 470,
        "y": 320,
        "wires": []
    },
    {
        "id": "eb038d446e9274df",
        "type": "ui_chart",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "e6594c57d8d01b10",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c9338c0310b0ea1f",
        "type": "function",
        "z": "6c2f1c52156d2c65",
        "name": "function 1",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "101a607753e1b805",
                "542df60322593768",
                "eb038d446e9274df",
                "a9d3afa2cad301de"
            ]
        ]
    },
    {
        "id": "7193f95b99b1e741",
        "type": "function",
        "z": "6c2f1c52156d2c65",
        "name": "function 2",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 240,
        "wires": [
            [
                "3dc3632e6c9ec74f",
                "f5dcdb84dc873770",
                "0a09803784d5f7d6",
                "f743ccabb82b23c5"
            ]
        ]
    },
    {
        "id": "37c8453009b30c03",
        "type": "function",
        "z": "6c2f1c52156d2c65",
        "name": "function 3",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "9bb051d76e296419",
                "31d4cfd64b19dbd2",
                "f7f14c87a628aa32",
                "9aae8ba8adb67135"
            ]
        ]
    },
    {
        "id": "542df60322593768",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 120,
        "wires": []
    },
    {
        "id": "f5dcdb84dc873770",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 240,
        "wires": []
    },
    {
        "id": "0a09803784d5f7d6",
        "type": "ui_chart",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "fdb13ed9e32bfcfa",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "31d4cfd64b19dbd2",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 360,
        "wires": []
    },
    {
        "id": "f7f14c87a628aa32",
        "type": "ui_chart",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "8bf5ecd135e186ce",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "0fb82fe24268893c",
        "type": "mqtt in",
        "z": "6c2f1c52156d2c65",
        "name": "Temperature sensor",
        "topic": "/group13x/Temperature01",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7dd5e1006bb1df9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 480,
        "wires": [
            [
                "d1a301c6443f669a"
            ]
        ]
    },
    {
        "id": "7df5bdd8bc84cec5",
        "type": "ui_gauge",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "c8f54cd1397455dd",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "30",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 470,
        "y": 440,
        "wires": []
    },
    {
        "id": "d1a301c6443f669a",
        "type": "function",
        "z": "6c2f1c52156d2c65",
        "name": "function 4",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 480,
        "wires": [
            [
                "7df5bdd8bc84cec5",
                "dad3abb5eb04ee4b",
                "638686815d643b40",
                "4e1ff1ca17948c3e"
            ]
        ]
    },
    {
        "id": "dad3abb5eb04ee4b",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 480,
        "wires": []
    },
    {
        "id": "638686815d643b40",
        "type": "ui_chart",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "c8f54cd1397455dd",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "2af3b4897fa6b886",
        "type": "mqtt in",
        "z": "6c2f1c52156d2c65",
        "name": "Humidity sensor",
        "topic": "/group13x/Humidity01",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7dd5e1006bb1df9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 600,
        "wires": [
            [
                "eb42950948cff61e"
            ]
        ]
    },
    {
        "id": "b6af55b9c356049e",
        "type": "ui_gauge",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "8b1bdb8214495211",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "30",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 470,
        "y": 560,
        "wires": []
    },
    {
        "id": "eb42950948cff61e",
        "type": "function",
        "z": "6c2f1c52156d2c65",
        "name": "function 5",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 600,
        "wires": [
            [
                "b6af55b9c356049e",
                "5467377e8b702f02",
                "a4881df9bc3d18b0",
                "d8c2d25a4ce0a5ce"
            ]
        ]
    },
    {
        "id": "5467377e8b702f02",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 600,
        "wires": []
    },
    {
        "id": "a4881df9bc3d18b0",
        "type": "ui_chart",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "8b1bdb8214495211",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "3a7b54cd0af285ce",
        "type": "mqtt in",
        "z": "6c2f1c52156d2c65",
        "name": "Motion Sensors",
        "topic": "/group13x/Motion01",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7dd5e1006bb1df9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 720,
        "wires": [
            [
                "0ed3afde678a65fd"
            ]
        ]
    },
    {
        "id": "649e97f163103a90",
        "type": "ui_gauge",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "e57bf951fb819ef2",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "30",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 450,
        "y": 680,
        "wires": []
    },
    {
        "id": "0ed3afde678a65fd",
        "type": "function",
        "z": "6c2f1c52156d2c65",
        "name": "function 6",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 720,
        "wires": [
            [
                "649e97f163103a90",
                "d9a2918ae73e8834",
                "8b31af5d95777655",
                "144d88d8139c744d"
            ]
        ]
    },
    {
        "id": "d9a2918ae73e8834",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 720,
        "wires": []
    },
    {
        "id": "8b31af5d95777655",
        "type": "ui_chart",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "e57bf951fb819ef2",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "11fd4cbbcf1805ff",
        "type": "mqtt in",
        "z": "6c2f1c52156d2c65",
        "name": "Power consumption ",
        "topic": "/group13x/Power01",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7dd5e1006bb1df9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 840,
        "wires": [
            [
                "d6e8ab6a7455a2e5"
            ]
        ]
    },
    {
        "id": "5bef6b0f62e2b39c",
        "type": "ui_gauge",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "461b5d3cf2512195",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "30",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 430,
        "y": 800,
        "wires": []
    },
    {
        "id": "d6e8ab6a7455a2e5",
        "type": "function",
        "z": "6c2f1c52156d2c65",
        "name": "function 7",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 840,
        "wires": [
            [
                "5bef6b0f62e2b39c",
                "8fd07d95dab9059a",
                "4269c851152cec64",
                "e2588a48a6209395"
            ]
        ]
    },
    {
        "id": "8fd07d95dab9059a",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 840,
        "wires": []
    },
    {
        "id": "4269c851152cec64",
        "type": "ui_chart",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "461b5d3cf2512195",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "144d88d8139c744d",
        "type": "ui_text",
        "z": "6c2f1c52156d2c65",
        "group": "e57bf951fb819ef2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 720,
        "wires": []
    },
    {
        "id": "d8c2d25a4ce0a5ce",
        "type": "ui_text",
        "z": "6c2f1c52156d2c65",
        "group": "8b1bdb8214495211",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 600,
        "wires": []
    },
    {
        "id": "4e1ff1ca17948c3e",
        "type": "ui_text",
        "z": "6c2f1c52156d2c65",
        "group": "c8f54cd1397455dd",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 480,
        "wires": []
    },
    {
        "id": "9aae8ba8adb67135",
        "type": "ui_text",
        "z": "6c2f1c52156d2c65",
        "group": "8bf5ecd135e186ce",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 360,
        "wires": []
    },
    {
        "id": "f743ccabb82b23c5",
        "type": "ui_text",
        "z": "6c2f1c52156d2c65",
        "group": "fdb13ed9e32bfcfa",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 240,
        "wires": []
    },
    {
        "id": "a9d3afa2cad301de",
        "type": "ui_text",
        "z": "6c2f1c52156d2c65",
        "group": "e6594c57d8d01b10",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "e2588a48a6209395",
        "type": "ui_text",
        "z": "6c2f1c52156d2c65",
        "group": "461b5d3cf2512195",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 640,
        "y": 840,
        "wires": []
    },
    {
        "id": "c7dd5e1006bb1df9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "pldindustries.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e6594c57d8d01b10",
        "type": "ui_group",
        "name": "Gas Sensors",
        "tab": "a358412a64c7deae",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8bf5ecd135e186ce",
        "type": "ui_group",
        "name": "Security System Status",
        "tab": "a358412a64c7deae",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fdb13ed9e32bfcfa",
        "type": "ui_group",
        "name": "Smoke Sensors",
        "tab": "a358412a64c7deae",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c8f54cd1397455dd",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "a358412a64c7deae",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b1bdb8214495211",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "a358412a64c7deae",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e57bf951fb819ef2",
        "type": "ui_group",
        "name": "Motion",
        "tab": "a358412a64c7deae",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "461b5d3cf2512195",
        "type": "ui_group",
        "name": "Power consumption ",
        "tab": "a358412a64c7deae",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a358412a64c7deae",
        "type": "ui_tab",
        "name": "Home Environment",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]