flows.json
[{"id":"42089a50.f68294","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ffec896f.a72928","type":"mqtt in","z":"42089a50.f68294","name":"Gas Sensors","topic":"/group13x/Gas01","qos":"0","datatype":"json","broker":"31998e0e.fc7b62","nl":false,"rap":true,"rh":0,"x":70,"y":120,"wires":[["8bd0a025.9272f"]]},{"id":"bb3a0f52.99b6","type":"mqtt in","z":"42089a50.f68294","name":"Smoke Sensors","topic":"/group13x/Smoke01","qos":"0","datatype":"json","broker":"31998e0e.fc7b62","nl":false,"rap":true,"rh":0,"x":120,"y":240,"wires":[["1986eb89.358854"]]},{"id":"e86e4959.896bf8","type":"mqtt in","z":"42089a50.f68294","name":"Security System Status","topic":"/group13x/Security01","qos":"0","datatype":"json","broker":"31998e0e.fc7b62","nl":false,"rap":true,"rh":0,"x":140,"y":360,"wires":[["5bc5d993.cbf048"]]},{"id":"fd4a555c.3f2b28","type":"ui_gauge","z":"42089a50.f68294","name":"","group":"f026b507.7f0a78","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"30","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":470,"y":80,"wires":[]},{"id":"e575e1e0.be78b","type":"ui_gauge","z":"42089a50.f68294","name":"","group":"485e6514.7a1f8c","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"30","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":470,"y":200,"wires":[]},{"id":"cf2e6fae.547ff","type":"ui_gauge","z":"42089a50.f68294","name":"","group":"99f4e843.7ed408","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"30","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":470,"y":320,"wires":[]},{"id":"5671a2f8.fe01ac","type":"ui_chart","z":"42089a50.f68294","name":"","group":"f026b507.7f0a78","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"30","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":470,"y":160,"wires":[[]]},{"id":"8bd0a025.9272f","type":"function","z":"42089a50.f68294","name":"function 1","func":"var val = msg.payload.current_sensor_val\nmsg.payload = val\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":120,"wires":[["fd4a555c.3f2b28","955affae.9e7e","5671a2f8.fe01ac","e03e43ee.fadde"]]},{"id":"1986eb89.358854","type":"function","z":"42089a50.f68294","name":"function 2","func":"var val = msg.payload.current_sensor_val\nmsg.payload = val\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":240,"wires":[["e575e1e0.be78b","ab58fccb.e4223","96388150.df01b","1548b2c4.20bf9d"]]},{"id":"5bc5d993.cbf048","type":"function","z":"42089a50.f68294","name":"function 3","func":"var val = msg.payload.current_sensor_val\nmsg.payload = val\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":360,"wires":[["cf2e6fae.547ff","26c75038.279f2","1614964.3c1f96a","21b7491.69abbb6"]]},{"id":"955affae.9e7e","type":"debug","z":"42089a50.f68294","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":120,"wires":[]},{"id":"ab58fccb.e4223","type":"debug","z":"42089a50.f68294","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":240,"wires":[]},{"id":"96388150.df01b","type":"ui_chart","z":"42089a50.f68294","name":"","group":"99f4e843.7ed408","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"30","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":470,"y":280,"wires":[[]]},{"id":"26c75038.279f2","type":"debug","z":"42089a50.f68294","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":360,"wires":[]},{"id":"1614964.3c1f96a","type":"ui_chart","z":"42089a50.f68294","name":"","group":"485e6514.7a1f8c","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"30","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":470,"y":400,"wires":[[]]},{"id":"b260712b.da96e","type":"mqtt in","z":"42089a50.f68294","name":"Temperature sensor","topic":"/group13x/Temperature01","qos":"0","datatype":"json","broker":"31998e0e.fc7b62","nl":false,"rap":true,"rh":0,"x":130,"y":480,"wires":[["47e6cfb5.08d3c"]]},{"id":"2faead3a.2feb02","type":"ui_gauge","z":"42089a50.f68294","name":"","group":"bebb8ade.642368","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"30","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":470,"y":440,"wires":[]},{"id":"47e6cfb5.08d3c","type":"function","z":"42089a50.f68294","name":"function 4","func":"var val = msg.payload.current_sensor_val\nmsg.payload = val\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":480,"wires":[["2faead3a.2feb02","1f29b0ef.a4a2ef","1b545088.1ab31f","76c8f814.b31bc8"]]},{"id":"1f29b0ef.a4a2ef","type":"debug","z":"42089a50.f68294","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":480,"wires":[]},{"id":"1b545088.1ab31f","type":"ui_chart","z":"42089a50.f68294","name":"","group":"bebb8ade.642368","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"30","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":470,"y":520,"wires":[[]]},{"id":"eb34d9de.a74238","type":"mqtt in","z":"42089a50.f68294","name":"Humidity sensor","topic":"/group13x/Humidity01","qos":"0","datatype":"json","broker":"31998e0e.fc7b62","nl":false,"rap":true,"rh":0,"x":120,"y":600,"wires":[["fcce6351.0cddd"]]},{"id":"bf7e469e.7df148","type":"ui_gauge","z":"42089a50.f68294","name":"","group":"27bd4e02.bcc0d2","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"30","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":470,"y":560,"wires":[]},{"id":"fcce6351.0cddd","type":"function","z":"42089a50.f68294","name":"function 5","func":"var val = msg.payload.current_sensor_val\nmsg.payload = val\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":600,"wires":[["bf7e469e.7df148","890c6395.efc31","79c20618.86b628","3ce64a14.44b506"]]},{"id":"890c6395.efc31","type":"debug","z":"42089a50.f68294","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":600,"wires":[]},{"id":"79c20618.86b628","type":"ui_chart","z":"42089a50.f68294","name":"","group":"27bd4e02.bcc0d2","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"30","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":470,"y":640,"wires":[[]]},{"id":"3abdbb95.ac8f04","type":"mqtt in","z":"42089a50.f68294","name":"Motion Sensors","topic":"/group13x/Motion01","qos":"0","datatype":"json","broker":"31998e0e.fc7b62","nl":false,"rap":true,"rh":0,"x":100,"y":720,"wires":[["e59a556a.1055a8"]]},{"id":"6bdd3e51.d9679","type":"ui_gauge","z":"42089a50.f68294","name":"","group":"ca8ae4a7.4e4ef8","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"30","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":450,"y":680,"wires":[]},{"id":"e59a556a.1055a8","type":"function","z":"42089a50.f68294","name":"function 6","func":"var val = msg.payload.current_sensor_val\nmsg.payload = val\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":720,"wires":[["6bdd3e51.d9679","b4e4f475.92cba8","204294e3.57f83c","403a7e01.2819f"]]},{"id":"b4e4f475.92cba8","type":"debug","z":"42089a50.f68294","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":720,"wires":[]},{"id":"204294e3.57f83c","type":"ui_chart","z":"42089a50.f68294","name":"","group":"ca8ae4a7.4e4ef8","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"30","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":450,"y":760,"wires":[[]]},{"id":"a60d8e65.b13bc","type":"mqtt in","z":"42089a50.f68294","name":"Power consumption ","topic":"/group13x/Power01","qos":"0","datatype":"json","broker":"31998e0e.fc7b62","nl":false,"rap":true,"rh":0,"x":110,"y":840,"wires":[["dec5463d.6b7218"]]},{"id":"666db3c0.df66dc","type":"ui_gauge","z":"42089a50.f68294","name":"","group":"a5c3d092.42556","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"30","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":430,"y":800,"wires":[]},{"id":"dec5463d.6b7218","type":"function","z":"42089a50.f68294","name":"function 7","func":"var val = msg.payload.current_sensor_val\nmsg.payload = val\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":840,"wires":[["666db3c0.df66dc","3512971c.3f6a68","751ce33e.21730c","d7af2245.dba4b"]]},{"id":"3512971c.3f6a68","type":"debug","z":"42089a50.f68294","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":840,"wires":[]},{"id":"751ce33e.21730c","type":"ui_chart","z":"42089a50.f68294","name":"","group":"a5c3d092.42556","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"30","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":430,"y":880,"wires":[[]]},{"id":"403a7e01.2819f","type":"ui_text","z":"42089a50.f68294","group":"ca8ae4a7.4e4ef8","order":1,"width":0,"height":0,"name":"","label":"Current value: ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":680,"y":720,"wires":[]},{"id":"3ce64a14.44b506","type":"ui_text","z":"42089a50.f68294","group":"27bd4e02.bcc0d2","order":1,"width":0,"height":0,"name":"","label":"Current value: ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":700,"y":600,"wires":[]},{"id":"76c8f814.b31bc8","type":"ui_text","z":"42089a50.f68294","group":"bebb8ade.642368","order":1,"width":0,"height":0,"name":"","label":"Current value: ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":680,"y":480,"wires":[]},{"id":"21b7491.69abbb6","type":"ui_text","z":"42089a50.f68294","group":"485e6514.7a1f8c","order":1,"width":0,"height":0,"name":"","label":"Current value: ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":680,"y":360,"wires":[]},{"id":"1548b2c4.20bf9d","type":"ui_text","z":"42089a50.f68294","group":"99f4e843.7ed408","order":1,"width":0,"height":0,"name":"","label":"Current value: ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":700,"y":240,"wires":[]},{"id":"e03e43ee.fadde","type":"ui_text","z":"42089a50.f68294","group":"f026b507.7f0a78","order":1,"width":0,"height":0,"name":"","label":"Current value: ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":700,"y":120,"wires":[]},{"id":"d7af2245.dba4b","type":"ui_text","z":"42089a50.f68294","group":"a5c3d092.42556","order":1,"width":0,"height":0,"name":"","label":"Current value: ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":640,"y":840,"wires":[]},{"id":"31998e0e.fc7b62","type":"mqtt-broker","name":"","broker":"pldindustries.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f026b507.7f0a78","type":"ui_group","name":"Gas Sensors","tab":"edfcf705.7dec78","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"485e6514.7a1f8c","type":"ui_group","name":"Security System Status","tab":"edfcf705.7dec78","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"99f4e843.7ed408","type":"ui_group","name":"Smoke Sensors","tab":"edfcf705.7dec78","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bebb8ade.642368","type":"ui_group","name":"Temperature","tab":"edfcf705.7dec78","order":7,"disp":true,"width":"6","collapse":false,"className":""},{"id":"27bd4e02.bcc0d2","type":"ui_group","name":"Humidity","tab":"edfcf705.7dec78","order":8,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ca8ae4a7.4e4ef8","type":"ui_group","name":"Motion","tab":"edfcf705.7dec78","order":9,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a5c3d092.42556","type":"ui_group","name":"Power consumption ","tab":"edfcf705.7dec78","order":10,"disp":true,"width":"6","collapse":false,"className":""},{"id":"edfcf705.7dec78","type":"ui_tab","name":"Home Environment","icon":"dashboard","disabled":false,"hidden":false}]