group13m_NodeRed.json
[
    {
        "id": "6c2f1c52156d2c65",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c891787f9f1a44c",
        "type": "mqtt in",
        "z": "6c2f1c52156d2c65",
        "name": "Power Generation",
        "topic": "/task_02n/powgen01",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7dd5e1006bb1df9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "b6721124bb373eea",
                "101a607753e1b805",
                "eb038d446e9274df",
                "7cb13636128c04ca"
            ]
        ]
    },
    {
        "id": "57a69e9137388c54",
        "type": "mqtt in",
        "z": "6c2f1c52156d2c65",
        "name": "Temperature sensor",
        "topic": "/task_02n/temp01",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7dd5e1006bb1df9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "3dc3632e6c9ec74f",
                "0a09803784d5f7d6",
                "f5dcdb84dc873770",
                "f7011e35faf0ac99"
            ]
        ]
    },
    {
        "id": "7f847524de3f41cf",
        "type": "mqtt in",
        "z": "6c2f1c52156d2c65",
        "name": "Humidity sensor",
        "topic": "/task_02n/hum01",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7dd5e1006bb1df9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 440,
        "wires": [
            [
                "9bb051d76e296419",
                "f7f14c87a628aa32",
                "31d4cfd64b19dbd2",
                "9b8aebcf7bc318f7"
            ]
        ]
    },
    {
        "id": "101a607753e1b805",
        "type": "ui_gauge",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "d57b237f2169624a",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "gauge",
        "label": "kW",
        "format": "{{value}}",
        "min": "500",
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "3dc3632e6c9ec74f",
        "type": "ui_gauge",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "3ac2e034237f3e59",
        "order": 2,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "gauge",
        "label": "Celsius",
        "format": "{{value}}",
        "min": "20",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 350,
        "y": 240,
        "wires": []
    },
    {
        "id": "9bb051d76e296419",
        "type": "ui_gauge",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "6e4452544c6381c3",
        "order": 2,
        "width": "7",
        "height": "7",
        "gtype": "donut",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": "55",
        "max": "95",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 350,
        "y": 400,
        "wires": []
    },
    {
        "id": "eb038d446e9274df",
        "type": "ui_chart",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "d57b237f2169624a",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "500",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f5dcdb84dc873770",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "0a09803784d5f7d6",
        "type": "ui_chart",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "3ac2e034237f3e59",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "31d4cfd64b19dbd2",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 440,
        "wires": []
    },
    {
        "id": "f7f14c87a628aa32",
        "type": "ui_chart",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "6e4452544c6381c3",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "0fb82fe24268893c",
        "type": "mqtt in",
        "z": "6c2f1c52156d2c65",
        "name": "Wind Speed ",
        "topic": "/task_02n/windsp01",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7dd5e1006bb1df9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 600,
        "wires": [
            [
                "7df5bdd8bc84cec5",
                "638686815d643b40",
                "dad3abb5eb04ee4b",
                "a50fb252b08bc8a6"
            ]
        ]
    },
    {
        "id": "7df5bdd8bc84cec5",
        "type": "ui_gauge",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "29b1c8287208fd0b",
        "order": 2,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "gauge",
        "label": "km/h",
        "format": "{{value}}",
        "min": "5",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 350,
        "y": 560,
        "wires": []
    },
    {
        "id": "dad3abb5eb04ee4b",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 600,
        "wires": []
    },
    {
        "id": "638686815d643b40",
        "type": "ui_chart",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "29b1c8287208fd0b",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "5",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "2af3b4897fa6b886",
        "type": "mqtt in",
        "z": "6c2f1c52156d2c65",
        "name": "Wind Direction",
        "topic": "/task_02n/winddir01",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7dd5e1006bb1df9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 760,
        "wires": [
            [
                "b6af55b9c356049e",
                "a4881df9bc3d18b0",
                "5467377e8b702f02",
                "8d4e67d4f5f33488"
            ]
        ]
    },
    {
        "id": "b6af55b9c356049e",
        "type": "ui_gauge",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "b91650a0fbf66ec9",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "compass",
        "title": "gauge",
        "label": "degrees",
        "format": "{{value}}",
        "min": "0",
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 350,
        "y": 720,
        "wires": []
    },
    {
        "id": "5467377e8b702f02",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 760,
        "wires": []
    },
    {
        "id": "a4881df9bc3d18b0",
        "type": "ui_chart",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "b91650a0fbf66ec9",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "360",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "d8c2d25a4ce0a5ce",
        "type": "ui_text",
        "z": "6c2f1c52156d2c65",
        "group": "b91650a0fbf66ec9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 520,
        "y": 760,
        "wires": []
    },
    {
        "id": "4e1ff1ca17948c3e",
        "type": "ui_text",
        "z": "6c2f1c52156d2c65",
        "group": "29b1c8287208fd0b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 520,
        "y": 600,
        "wires": []
    },
    {
        "id": "9aae8ba8adb67135",
        "type": "ui_text",
        "z": "6c2f1c52156d2c65",
        "group": "6e4452544c6381c3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 520,
        "y": 440,
        "wires": []
    },
    {
        "id": "f743ccabb82b23c5",
        "type": "ui_text",
        "z": "6c2f1c52156d2c65",
        "group": "3ac2e034237f3e59",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "a9d3afa2cad301de",
        "type": "ui_text",
        "z": "6c2f1c52156d2c65",
        "group": "d57b237f2169624a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 520,
        "y": 120,
        "wires": []
    },
    {
        "id": "b6721124bb373eea",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "f5fdcef71ecaa95e",
        "type": "mqtt in",
        "z": "6c2f1c52156d2c65",
        "name": "Temperature sensor",
        "topic": "/task_02n/temp02",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7dd5e1006bb1df9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1070,
        "y": 440,
        "wires": [
            [
                "7f04aa733d91a597",
                "e9a6d1c5407744d1",
                "7c477c535059f8c1",
                "9baf3bc5b02f3134",
                "f1b0cf48175c4e15"
            ]
        ]
    },
    {
        "id": "7f04aa733d91a597",
        "type": "ui_gauge",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "3ac2e034237f3e59",
        "order": 5,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "30",
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1250,
        "y": 400,
        "wires": []
    },
    {
        "id": "7c477c535059f8c1",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 440,
        "wires": []
    },
    {
        "id": "e9a6d1c5407744d1",
        "type": "ui_chart",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "3ac2e034237f3e59",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "70",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "5ac5a9349a8ca6fa",
        "type": "ui_text",
        "z": "6c2f1c52156d2c65",
        "group": "3ac2e034237f3e59",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1420,
        "y": 440,
        "wires": []
    },
    {
        "id": "3a7b54cd0af285ce",
        "type": "mqtt in",
        "z": "6c2f1c52156d2c65",
        "name": "Illumination sensor",
        "topic": "/task_02n/illum01",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7dd5e1006bb1df9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1070,
        "y": 120,
        "wires": [
            [
                "649e97f163103a90",
                "8b31af5d95777655",
                "d9a2918ae73e8834",
                "41e26afcfdd418f3"
            ]
        ]
    },
    {
        "id": "649e97f163103a90",
        "type": "ui_gauge",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "bdf8089b3f55c6d6",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "gauge",
        "label": "lux",
        "format": "{{value}}",
        "min": "10",
        "max": "110000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1250,
        "y": 80,
        "wires": []
    },
    {
        "id": "d9a2918ae73e8834",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 120,
        "wires": []
    },
    {
        "id": "8b31af5d95777655",
        "type": "ui_chart",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "bdf8089b3f55c6d6",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "110000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "144d88d8139c744d",
        "type": "ui_text",
        "z": "6c2f1c52156d2c65",
        "group": "bdf8089b3f55c6d6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1420,
        "y": 120,
        "wires": []
    },
    {
        "id": "11fd4cbbcf1805ff",
        "type": "mqtt in",
        "z": "6c2f1c52156d2c65",
        "name": "Battery Capacity",
        "topic": "/task_02n/batcap01",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7dd5e1006bb1df9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1080,
        "y": 280,
        "wires": [
            [
                "5bef6b0f62e2b39c",
                "4269c851152cec64",
                "8fd07d95dab9059a",
                "a5dd8049e3b1d854"
            ]
        ]
    },
    {
        "id": "5bef6b0f62e2b39c",
        "type": "ui_gauge",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "16625b12c4c2076f",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "wave",
        "title": "gauge",
        "label": "Ah",
        "format": "{{value}}",
        "min": "1000",
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1250,
        "y": 240,
        "wires": []
    },
    {
        "id": "8fd07d95dab9059a",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 280,
        "wires": []
    },
    {
        "id": "4269c851152cec64",
        "type": "ui_chart",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "16625b12c4c2076f",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "1000",
        "ymax": "5000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e2588a48a6209395",
        "type": "ui_text",
        "z": "6c2f1c52156d2c65",
        "group": "16625b12c4c2076f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1420,
        "y": 280,
        "wires": []
    },
    {
        "id": "7cb13636128c04ca",
        "type": "function",
        "z": "6c2f1c52156d2c65",
        "name": "function 1",
        "func": "var val = msg.payload;\nval = val + \" kW\";\nmsg.payload = val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "a9d3afa2cad301de"
            ]
        ]
    },
    {
        "id": "f7011e35faf0ac99",
        "type": "function",
        "z": "6c2f1c52156d2c65",
        "name": "function 2",
        "func": "var val = msg.payload;\nval = val + \" Celsius\";\nmsg.payload = val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 280,
        "wires": [
            [
                "f743ccabb82b23c5"
            ]
        ]
    },
    {
        "id": "9b8aebcf7bc318f7",
        "type": "function",
        "z": "6c2f1c52156d2c65",
        "name": "function 3",
        "func": "var val = msg.payload;\nval = val + \" %\";\nmsg.payload = val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 440,
        "wires": [
            [
                "9aae8ba8adb67135"
            ]
        ]
    },
    {
        "id": "a50fb252b08bc8a6",
        "type": "function",
        "z": "6c2f1c52156d2c65",
        "name": "function 4",
        "func": "var val = msg.payload;\nval = val + \" km/h\";\nmsg.payload = val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 600,
        "wires": [
            [
                "4e1ff1ca17948c3e"
            ]
        ]
    },
    {
        "id": "8d4e67d4f5f33488",
        "type": "function",
        "z": "6c2f1c52156d2c65",
        "name": "function 5",
        "func": "var val = msg.payload;\nval = val + \" degrees\";\nmsg.payload = val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 760,
        "wires": [
            [
                "d8c2d25a4ce0a5ce"
            ]
        ]
    },
    {
        "id": "415bd2502ccbe403",
        "type": "mqtt in",
        "z": "6c2f1c52156d2c65",
        "name": "Humidity sensor",
        "topic": "/task_02n/hum02",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7dd5e1006bb1df9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1080,
        "y": 600,
        "wires": [
            [
                "06f0aa5cf2d741e4",
                "5a4b273827a0e195",
                "97657e8d372b5abc",
                "675c06ce2e404a73"
            ]
        ]
    },
    {
        "id": "06f0aa5cf2d741e4",
        "type": "ui_gauge",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "6e4452544c6381c3",
        "order": 5,
        "width": "7",
        "height": "7",
        "gtype": "donut",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": "45",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1250,
        "y": 560,
        "wires": []
    },
    {
        "id": "5a4b273827a0e195",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 600,
        "wires": []
    },
    {
        "id": "e450f758448d603f",
        "type": "mqtt in",
        "z": "6c2f1c52156d2c65",
        "name": "Wind Speed",
        "topic": "/task_02n/windsp02",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "c7dd5e1006bb1df9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1090,
        "y": 760,
        "wires": [
            [
                "1dd7cd785a3c4b74",
                "f75a94ae50d52acc",
                "14fdb4eeac8d2607",
                "361b3b49be6fab19"
            ]
        ]
    },
    {
        "id": "1dd7cd785a3c4b74",
        "type": "ui_gauge",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "29b1c8287208fd0b",
        "order": 5,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "gauge",
        "label": "km/h",
        "format": "{{value}}",
        "min": "10",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1250,
        "y": 720,
        "wires": []
    },
    {
        "id": "14fdb4eeac8d2607",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 760,
        "wires": []
    },
    {
        "id": "f75a94ae50d52acc",
        "type": "ui_chart",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "29b1c8287208fd0b",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "e9c9f701cd47baca",
        "type": "ui_text",
        "z": "6c2f1c52156d2c65",
        "group": "6e4452544c6381c3",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1420,
        "y": 600,
        "wires": []
    },
    {
        "id": "c368b862ad999aea",
        "type": "ui_text",
        "z": "6c2f1c52156d2c65",
        "group": "29b1c8287208fd0b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current value: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1440,
        "y": 760,
        "wires": []
    },
    {
        "id": "41e26afcfdd418f3",
        "type": "function",
        "z": "6c2f1c52156d2c65",
        "name": "function 6",
        "func": "var val = msg.payload;\nval = val + \" lux\";\nmsg.payload = val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 120,
        "wires": [
            [
                "144d88d8139c744d"
            ]
        ]
    },
    {
        "id": "a5dd8049e3b1d854",
        "type": "function",
        "z": "6c2f1c52156d2c65",
        "name": "function 7",
        "func": "var val = msg.payload;\nval = val + \" Ah\";\nmsg.payload = val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 280,
        "wires": [
            [
                "e2588a48a6209395"
            ]
        ]
    },
    {
        "id": "9baf3bc5b02f3134",
        "type": "function",
        "z": "6c2f1c52156d2c65",
        "name": "function 8",
        "func": "var val = msg.payload;\nval = val + \" Celsius\";\nmsg.payload = val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 440,
        "wires": [
            [
                "5ac5a9349a8ca6fa"
            ]
        ]
    },
    {
        "id": "97657e8d372b5abc",
        "type": "function",
        "z": "6c2f1c52156d2c65",
        "name": "function 9",
        "func": "var val = msg.payload;\nval = val + \" %\";\nmsg.payload = val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 600,
        "wires": [
            [
                "e9c9f701cd47baca"
            ]
        ]
    },
    {
        "id": "361b3b49be6fab19",
        "type": "function",
        "z": "6c2f1c52156d2c65",
        "name": "function 10",
        "func": "var val = msg.payload;\nval = val + \" km/h\";\nmsg.payload = val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 760,
        "wires": [
            [
                "c368b862ad999aea"
            ]
        ]
    },
    {
        "id": "675c06ce2e404a73",
        "type": "ui_chart",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "group": "6e4452544c6381c3",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "507840fa96ca4452",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2090,
        "y": 440,
        "wires": []
    },
    {
        "id": "65e0042684d9c944",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "account": "80b99021.9a4",
        "text": "payload",
        "inputtypemessage": "msg",
        "rejectssl": true,
        "x": 1940,
        "y": 440,
        "wires": [
            [
                "507840fa96ca4452"
            ]
        ]
    },
    {
        "id": "f1b0cf48175c4e15",
        "type": "function",
        "z": "6c2f1c52156d2c65",
        "name": "function 11",
        "func": "const d = new Date();\nlet Current_time = Math.round(d.getTime() / 1000);\nlet time_difference = 0;\nlet temperature_value = msg.payload\n\nif (global.get(\"Previous_time\") == undefined){\n    global.set(\"Previous_time\", 0);\n}\n\ntime_difference = Current_time - global.get(\"Previous_time\");\n\nif (time_difference > 300 && temperature_value > 50) {\n    msg.payload = \"Warning! The temperature is \" + temperature_value + \" Celsius\";\n    global.set(\"Previous_time\", Current_time);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 440,
        "wires": [
            [
                "d52152c9861bc645",
                "65e0042684d9c944",
                "c1fccd917e164f86"
            ]
        ]
    },
    {
        "id": "d52152c9861bc645",
        "type": "debug",
        "z": "6c2f1c52156d2c65",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1920,
        "y": 480,
        "wires": []
    },
    {
        "id": "5d0f8284e1acb796",
        "type": "ui_toast",
        "z": "6c2f1c52156d2c65",
        "position": "dialog",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2110,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c1fccd917e164f86",
        "type": "change",
        "z": "6c2f1c52156d2c65",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Warning",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1940,
        "y": 400,
        "wires": [
            [
                "5d0f8284e1acb796"
            ]
        ]
    },
    {
        "id": "c7dd5e1006bb1df9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "pldindustries.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d57b237f2169624a",
        "type": "ui_group",
        "name": "Power Generation",
        "tab": "598cd5a058e38f54",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ac2e034237f3e59",
        "type": "ui_group",
        "name": " Temperature sensor",
        "tab": "08d28b43ad2a3328",
        "order": 7,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6e4452544c6381c3",
        "type": "ui_group",
        "name": "Humidity sensor",
        "tab": "08d28b43ad2a3328",
        "order": 5,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "29b1c8287208fd0b",
        "type": "ui_group",
        "name": "Wind Speed ",
        "tab": "08d28b43ad2a3328",
        "order": 6,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b91650a0fbf66ec9",
        "type": "ui_group",
        "name": "Wind Direction",
        "tab": "598cd5a058e38f54",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bdf8089b3f55c6d6",
        "type": "ui_group",
        "name": "Illumination sensor",
        "tab": "598cd5a058e38f54",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "16625b12c4c2076f",
        "type": "ui_group",
        "name": "Battery Capacity",
        "tab": "598cd5a058e38f54",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "80b99021.9a4",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "Ayesh Rajakaruna"
    },
    {
        "id": "598cd5a058e38f54",
        "type": "ui_tab",
        "name": "Sensor Group 1",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "08d28b43ad2a3328",
        "type": "ui_tab",
        "name": "Sensor Group 2",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]